<li id="public_key-<%= public_key.id %>">
  <span class="key"><%= public_key.key %></span>
  <span class="timestamp"><%= link_to "delete", public_key, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
  </span>
</li>
